body {
    font-family: 'Comic Sans MS',sans-serif;
  margin: 0;
}

.portada {
  background-image: url('../images/background.png');
  color: white;
  padding: 20px;
}

.contenedor {
  width: 800px;
  margin: auto;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
  margin-top: 70px;
}

.title-a {
  font-size: 24px;
  margin-top: 0;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}
.button {
  border-radius: 5px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px;
}
.guitarras {
  color: #1F313C;
}

.guitarras h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}




.portada button {
  margin-bottom: 70px;
}


.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}


.logotipo {
  display: inline-block;
}




.guitarra {
  margin: 10px;
  padding: 10px;
  border: 1px solid #1F313C;
  border-radius: 8px;
}
.guitarra ol {
  padding: 0;
}


.derecha {
  float: right;
  position: relative;
  top: -127px;
}

.izquierda {
  float: left;
  position: relative;
  top: 80px;
}

.contenedor-guitarra-a {
  padding-left: 20px;
}
.contenedor-guitarra-b {
  margin-left: 370px;

}

.header {
  position: relative;
}


table {
  width: 100%;
}

th {
  background: #273b47;
  color: white;
}

th {
  padding: 10px 20px;
  text-align: center;
}

td {
  padding: 20px;
}

table, td, th {
  border: 1px solid #273b47;
  border-collapse: collapse;
}
.footer{
  background:#273b47;
}
.contacto {
  display:flex;
  width:350px;
  flex-wrap:wrap;
  align-items: center;
}
.contacto img{
  display: block;
}
.contacto strong{
  display:block;
}

.footer .contenedor {
  display:flex;
  justify-content:space-between;
}

.contacto a {
  color:white;
  text-decoration:none;
  margin:10px 10px 10px 0;
}

.col1, .col2{
  display:flex;
flex-direction: column;

}

.col1 {
  margin-right: 15px;
}
.col2{
  align-items: flex-start;
  align-self: center;
}

.formulario{
  display:flex;

  width:600px;
  color:white;
  padding:50px 10px;
}
.intereses label{
  font-size: 14px;
}
.formulario label, .sexo, .intereses {
  margin-bottom: 10px;
}
.sexo{
  margin-top: 10px;
}
